TODO_API_KEY=replace-with-yyt-api-key
CLOUD_API_BASE_URL=https://express-0kx6-284420-7-1455148284.sh.run.tcloudbase.com
TODO_IMPORT_TOKEN=replace-with-cloud-import-token
REMOTE_STATE_API_BASE_URL=https://state.example.com
REMOTE_STATE_TOKEN=replace-with-remote-state-token
TODO_SYNC_LOG_DIR=/var/log/yyt-todo-sync
TODO_SYNC_REQUEST_TIMEOUT_MS=30000
TODO_SYNC_REMOTE_TIMEOUT_MS=15000
TODO_SYNC_CLOUD_TIMEOUT_MS=30000
TODO_SYNC_REQUEST_RETRIES=3
TODO_SYNC_MAX_PAGES=1000
